server:
  port: 8002
spring:
  application:
    name: eureka-server
eureka:
  instance:
    hostname: localhost
  client:
#通过fetch-registry: false 和 register-with-eureka: false 表明自己是注册中心
    fetch-registry: false
    register-with-eureka: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/